<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns       ="http://www.w3.org/ns/widgets" 
        xmlns:gap   ="http://phonegap.com/ns/1.0"
        id          ="com.marinlimpic.focus"
        versioncode ="1"
        version     ="1.0.0"

        <name>Focus Life</name>

        <description>this is an application designed and built for Focus field agents.</description>

    <author email = "martinlimpic91@gmail.com">
        Martin Limpic
    </author>

    <preference name = "orientation" value = "potrait"/>

</widget>